<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Single Post</title>
</head>
<body>
<%- include('./partials/header.ejs') %>
<div class="singlepost">
    <h2>
        <%= posts.title %>
    </h2>
    <div class="content">
        <p>
            <%= posts.body %>
        </p>
    </div>
    <br>
    <br>
    <i onclick="myFunction(this)" class="fa fa-thumbs-up"></i>
    <br>
        <p>
            This post has been liked <%= posts.likes %> times.
        </p>
    <a class="delete" data-del="<%= posts.id %>">Delete</a>
</div>
<script>
    const delreq = document.querySelector('a.delete');
    delreq.addEventListener('click', (e) => {
        const endpoint = `/posts/${delreq.dataset.del}`;
        fetch(endpoint, {
            method: 'DELETE',
        }).then(window.location.href = '/posts')
    });
    const likereq = document.querySelector('a.like');
    function myFunction(x) {
        x.classList.toggle("fa-thumbs-down");
        likereq.send;
    }
</script>
<%- include('./partials/footer.ejs') %>
</body>
</html> 


<style scoped>
    body {
        padding: 0;
        margin: 0;
        background-color: rgb(145, 160, 193);
    }
    .singlepost {
        width: 60%;
        margin-left: 20%;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: white;
        padding-bottom: 40px;
        border-radius: 4px;
        box-shadow: 1px 1px 4px 1px;
    }

    .singlepost p {
        padding-left: 10%;
        padding-right: 10%;
    }

    .singlepost h2{
        padding-top: 40px;
    }

    .singlepost button{
        box-shadow: 1px 1px ;
        border-radius: 2px;
        cursor: pointer;
    }

    .delete {
        cursor: pointer;
    }

    .likediv {
        text-align: right;
        padding-right: 70px;
    }
    </style>